<!--% users.each do |user| %> <!--これでデータを呼び出すのはイマイチっぽい-->
<h1>User Info</h1>
  <h2><%= user.name %></h2>
  <%= image_tag user.get_profile_image(100,100) %>
    <% if user.id == current_user.id %>
      <p><%= link_to "プロフィール編集", edit_user_path(user.id)%></p>
    <% end %>
<!--% end %>