<body>
<div class="container">
  <div class="mx-auto" style="width: 50%">
    <div class="col-md" style="text-align:center">
      <h2>About</h2>
       <p>welcome to Bookers !!</p>
    </div>
  </div>
</div>
</body>